[Unit]
Description=mpvpaper for DP-3
PartOf=wallpaper.target

[Service]
ExecStart=/usr/bin/mpvpaper DP-3 -o "--hwdec=vaapi-copy --vd-lavc-dr=no --loop-file=inf --no-audio" --auto-pause /home/kinoko/Videos/wallpaper/cartethyia-wuthering-waves.1920x1080.mp4
Restart=always
RestartSec=1
MemoryMax=1G
MemoryHigh=800M

[Install]
WantedBy=wallpaper.target

