[Unit]
Description=mpvpaper for DP-2
PartOf=wallpaper.target

[Service]
# ExecStart=/usr/bin/mpvpaper DP-2 -o "--hwdec=auto --vd-lavc-dr=no --loop-file=inf --no-audio --cache=no --demuxer-max-bytes=32M --demuxer-max-back-bytes=16M --demuxer-readahead-secs=1" --auto-stop -vv /home/kinoko/Videos/wallpaper/kokkoro-princess-connect-redive.1920x1080.mp4
ExecStart=/usr/bin/mpvpaper DP-2 -o "--hwdec=auto --vd-lavc-dr=no --loop-file=inf --no-audio --cache=no --demuxer-max-bytes=32M --demuxer-max-back-bytes=16M --demuxer-readahead-secs=1" --auto-stop -vv /home/kinoko/Videos/wallpaper/iunos-twilight-reflection.3840x2160.mp4
Restart=on-failure
RestartSec=1
MemoryMax=1G
MemoryHigh=500M

[Install]
WantedBy=wallpaper.target

