[Unit]
Description=Run wallpaper services a bit after graphical session starts
PartOf=graphical-session.target
After=graphical-session.target

[Timer]
# ユーザーセッション開始の10秒後に wallpaper.service を起動
OnActiveSec=10s
Unit=wallpaper.target
OnUnitActiveSec=6h

[Install]
WantedBy=graphical-session.target

