# chezmoi configuration template for this source repository.
sourceDir = {{ .chezmoi.sourceDir | quote }}
[data]
    email = "77713907+koh11235813@users.noreply.github.com"
    name = "koh11235813"

[git]
    autoCommit = true
    autoPush = true
