LICENSE
.config/zed/prompts/**
.config/zed/conversations/**
.config/zed/themes/**
.claude/.credentials.json

{{- if eq .chezmoi.os "darwin" }}
.config/systemd/**
.config/hypr/**
.config/waybar/**
.config/mako/**
{{- end }}
