# chezmoi configuration template for this source repository.
sourceDir = {{ .chezmoi.sourceDir | quote }}
[data]
    email = "koh11235813@gmail.com"
    name = "koh11235813"

[git]
    autoCommit = true
    autoPush = true
